html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Times New Roman";
    display: flex;
    flex-direction: column;
}

header {
	position: relative;
	top: 0;
	left: 0;
	background-color: rgb(129, 136, 144);
	text-align: right;
	flex: 0 0 80px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 3vh;
}

header h1 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    margin: 0;
    width: 60vw;
    font-size: 2vw;
}

header h3 {
    position: absolute;
    top: 50%;             
    left: 10px;
    transform: translate(0, -50%);
    margin: 0;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    width: 40vw;
    text-align: center;
    font-size: 1.25vw;
}

.content {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    gap: 4%;
}
			
.right {
    flex: 1 1 42%;
    display: flex;
    flex-direction: column;
}

.right2 {
    flex: 1;
    display: flex;
    gap: 20px;
}

.block2{
    box-sizing: border-box;
    padding: 5px 10px;
	flex: 1 1 23%;
	background-color: rgb(169, 174, 176);
	text-align: center;
}

.block3{
    box-sizing: border-box;
    padding: 5px 10px;
	flex: 1 1 23%;
	background-color: rgb(190, 194, 196);
	text-align: center;
}
			
.block4{
    box-sizing: border-box;
    padding: 5px 10px;
	
	background-color: rgb(171, 173, 173);
	text-align: center;
    font-size: large;
}

.block5{
	background-color: rgb(207, 212, 213);
	text-align: left;
}

.block6{
	background-color: rgb(230, 237, 238);
	text-align: center;
	margin-left: 4%;
}

.block5, .block6{
    box-sizing: border-box;
    padding: 5px 10px;
	flex: 1;
}
			
footer{
	position: relative;
	bottom: 0;
	left: 0;
	background-color: rgb(129, 136, 144);
	text-align: left;
	flex: 0 0 80px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 3vh
}

footer h2 {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    margin: 0;
    font-size: 1.5vw;
}

footer h5 {
    position: absolute;
    top: 50%;             
    right: 10px;
    transform: translate(0, -50%);
    margin: 0;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1vw;
}

a.class1 {
    color: rgb(58, 81, 109);
    text-decoration: none;
}

ol.class {
    list-style-position: inside; 
    text-align: center; 
    color: rgb(58, 81, 109);
}

#numberForm {
    display: none;
}

@media (max-width: 768px) {
.right, .right2, .content {
    display: contents;
  }

.block2{
	flex: 1 1 100%;
	background-color: rgb(230, 237, 238);
    order: 1;
}

.block3{
	flex: 1 1 100%;
	background-color: rgb(230, 237, 238);
    order: 2;
}
			
.block4{
	background-color: rgb(230, 237, 238);
    order: 5;
}

.block5{
	background-color:rgb(230, 237, 238);
    order: 3;
}

.block6{
	background-color: rgb(230, 237, 238);
    order: 4;
    margin-left: 0;
}

footer{
    order: 6;
}

header h1 {
    font-size: 3vw;
}

header h3 {
    font-size: 2vw;
}

footer h2 {
    font-size: 3vw;
}

footer h5 {
    font-size: 2vw;
}
}